
<div class="shop-all-wrapper">
   <a href="{{  section.settings.shopurl }}" class="btn-round"> {{  section.settings.shopall }} </a>
</div>
<section class="collection-list__container ">
    <div class="slider-header">
     <p>{{ section.settings.title }}</p>
     <a href="{{section.settings.url}}" class="btn">{{ section.settings.btn-text}}</a>
    </div>
      <div class="slider-proudct">
      <!-- First slider codes -->
  
      
      </div>
    
  </section>
  <section class="splide" id="first-slider" aria-label="Splide Basic HTML Example">
      <div class="splide__track">
        <ul class="splide__list">
  
          {% for block in section.blocks %}
           
          {% case block.type %}
              {% when 'collection' %}
                  {% for product in collections[block.settings.collection].products %}
                      <li class="splide__slide"> 
                        {{product.title}}
                      </li>
                  {% endfor %}
              
              {% when 'product' %}
                  <li class="splide__slide"> 
                    {{product.title}}
                    {{ product.price }}
                 </li>
                 {% when 'manually' %}
                  <li class="splide__slide "> 
                     <div class="singel-proudct-wrapper">
                       <div class="image-wrapper">
                        <img src="{{ block.settings.img | img_url:'' }}" alt="">
                        <img src="{{ block.settings.img2 | img_url:'' }}" class="hover-image" alt="">
                       </div>
                      <div class="singel-porduct-content-wrapper">
                      
                        <a href="{{ block.settings.url }}" class="proudct-heading">   <h6>{{ block.settings.h6 }}</h6>  
                        <p>{{ block.settings.p }}</p>
                         </a>
                       <a href="{{ block.settings.url }}" class="btn shopnow"> {{ block.settings.btn }}  
                       
                       <div class="prices"> <span> $ {{ block.settings.price }}</span> {% if block.settings.com == blank %} {% else %} <del> - $  {{block.settings.com }}</del>{% endif %} </div> </a>
                  
                      </div>

                      </div>
                 </li>
              
          {% endcase %}
  
  
         {% endfor %}
      
         
  
  
  
        </ul>
      </div>

    <div class="splide__arrows splide__arrows--ltr">
  <button
    class="splide__arrow splide__arrow--prev"
    type="button"
    aria-label="Previous slide"
    aria-controls="splide01-track"
  >
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" height="16px" width="16px" version="1.1" id="Capa_1" viewBox="0 0 47.255 47.255" xml:space="preserve">
<g>
	<path d="M12.314,47.255c-0.256,0-0.512-0.098-0.707-0.293c-0.391-0.391-0.391-1.023,0-1.414l21.92-21.92l-21.92-21.92   c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0L35.648,22.92c0.391,0.391,0.391,1.023,0,1.414L13.021,46.962   C12.825,47.157,12.57,47.255,12.314,47.255z"/>
</g>
</svg>
  </button>
  <button
    class="splide__arrow splide__arrow--next"
    type="button"
    aria-label="Next slide"
    aria-controls="splide01-track"
  >
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" height="16px" width="16px" version="1.1" id="Capa_1" viewBox="0 0 47.255 47.255" xml:space="preserve">
<g>
	<path d="M12.314,47.255c-0.256,0-0.512-0.098-0.707-0.293c-0.391-0.391-0.391-1.023,0-1.414l21.92-21.92l-21.92-21.92   c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0L35.648,22.92c0.391,0.391,0.391,1.023,0,1.414L13.021,46.962   C12.825,47.157,12.57,47.255,12.314,47.255z"/>
</g>
</svg>
  </button>
</div>
    </section>
  
  <style>
  .slider-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
   .image-wrapper.w3_bg {
    position: relative;
}
    .singel-proudct-wrapper h6 , .singel-proudct-wrapper p {
    padding: 0;
    margin: 0;
}
    img.hover-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    height: 100%;
       transition: 0.3s all ;
}   .image-wrapper:hover img.hover-image {
    opacity: 1;
}
.singel-porduct-content-wrapper{
  background:#f4f4f4;
  padding: 12px ;
}
    .shop-all-wrapper {
    margin: 23px 0;
    text-align: center;
}

    section#first-slider {
    margin-bottom: 100px;
}
    a.btn-round {
    text-decoration: unset;
    padding: 20px 49px;
    background: #000;
    border-radius: 37px;
    color: #fff;
    display: inline-block;
}
    .proudct-heading h6{
    color:#000;
}
        .proudct-heading p{
    color:#000;
                 margin: 6px 0 10px 0;
}

    a.proudct-heading {
    text-decoration: unset;
       color:#000;
      
}
        a.proudct-heading:hover{
    text-decoration: underline;
}

       .singel-porduct-content-wrapper{
} 
        .splide__slide {
         
          padding: 0 7.5px;
      
        }
        .splide__slide  img{
         width: 100%;
        }
      .splide__slide img {
    vertical-align: bottom;
    width: 100%;
}

    a.btn.shopnow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 11px 16px;
    color: #000;
      text-decoration: none;
    font-weight: 600;
}
@media only screen and (max-width: 600px) {
    a.btn.shopnow {
   font-size: 12px;
    padding: 5px 9px;

}

  .singel-porduct-content-wrapper {
    padding: 8px;
}
}
    .splide__arrow{
    background: #fff;
}
       
  
  .slider-header p {
    color: #000000FF;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    flex-shrink: 0;
    flex-basis: auto;
    overflow-wrap: break-word;
}
  .splide__pagination {
    bottom: -2em;
    left: 0;
    padding: 0 1em;
    position: absolute;
    right: 0;
    z-index: 1;
}
    .splide__pagination__page.is-active {
    background: #000;
    transform: scale(1.4);
    z-index: 1;
}
  
  
  .slider-header a.btn {
    text-decoration:none;
    color: #000000FF;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    border-bottom-color: #000000FF;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    flex-shrink: 0;
    flex-basis: auto;
    cursor: pointer;
    overflow-wrap: break-word;
}</style>
  
  
  <script>
      document.addEventListener("DOMContentLoaded", () => {
  
  
  
          let splide = new Splide( '#first-slider', {
              pagination :    true ,
                        paginationKeyboard: true,
                          type   : 'loop',
                          drag   : 'free',
                          perPage: 4,
                          perMove: 3,
                          rewindSpeed: 100,
                          rewindByDrag:true,
                          breakpoints: {
                              1020: {
                                  perPage: 3,
                                  perMove: 2,
                              },
                              640: {
                                  perPage: 2,
                                  perMove: 1,
                              }
                            }
                        } );
                        
                        splide.mount(); 
      });
  
  </script>
  
  
  {% schema %}
    {
      "name": "landing   Related product",
      "class": "lading-page-product",
      "settings": [
        {
          "type": "url",
          "id": "shopurl",
          "label": "Shop All Link"
        },
        {
          "type": "text",
          "id": "shopall",
          "label": "shop All button Title",
          "placeholder": "Shop All"
        },
      {
        "type": "text",
        "id": "title",
        "label": "Title Name",
        "default": "YOU MAY ALSO LIKE",
        "placeholder": "YOU MAY ALSO LIKE"
      },
      {
          "type": "text",
          "id": "btn-text",
          "label": "Button title",
          "default": "Shop All Products",
          "placeholder": "Shop All Products"
      },
      {
          "type": "url",
          "id": "url",
          "label": "Select your link"
      }
      ],
      "blocks": [
        {
          "type": "manually",
          "name": "manually",
          "settings": [
  
          {
              "type": "url",
              "id": "url",
              "label": "Select your Url"
          },
          {
              "type": "image_picker",
              "id": "img",
              "label": "Select your first image"
          },
          {
              "type": "image_picker",
              "id": "img2",
              "label": "Select your hover image"
          },
          {
              "type": "text",
              "id": "h6",
              "label": "Proudct title",
              "default": "LIVI"
          },
          {
              "type": "text",
              "id": "p",
              "label": "Proudct description",
              "default": "Modern Glass Wall Lamp"
          },
          {
              "type": "text",
              "id": "price",
              "label": "Proudct price",
              "default": "88"
          },
          {
              "type": "text",
              "id": "btn",
              "label": "Shop now button title",
              "default": "Buy Now -"
          },
          {
              "type": "text",
              "id": "com",
              "label": "compare price",
              "default": "99"
          }
          
          ]
        }
      ],
      "presets": [
        {
          "name": "landing related proudct"
        }
      ]
    }
  {% endschema %}
  