

<section class="collection-list__container ">
  <div class="slider-header">
   <p>{{ section.settings.title }}</p>
   <a href="{{section.settings.url}}" class="btn">{{ section.settings.btn-text}}</a>
  </div>
    <div class="slider-proudct">
    <!-- First slider codes -->

    
    </div>
  
</section>
<section class="splide" id="first-slider" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
      <ul class="splide__list">

        <li class="splide__slide"> 

       {% for item in section.blocks %}
         
        {% case block.type %}
            {% when 'collection' %}
                {%- assign collection = collections[block.settings.collection] -%}
                {% for product in collection %}
                   {{product.title}}
                {% endfor %}
            
            {% when 'product' %}
        {{product.title}}
        {{ product.price }}

            
        {% endcase %}


       {% endfor %}
    
        </li>



      </ul>
    </div>
  </section>

<style>


    section {
        margin: 2rem;
      }
      
      .splide__slide {
        background-color: tomato;
        padding: 6rem 2rem;
        text-align: center;
        font-size: 2rem;
      }
      
      #second-slider .splide__slide {
        background-color: BlueViolet;
      }
      </style>


<script>
    document.addEventListener("DOMContentLoaded", () => {



        let splide = new Splide( '#first-slider', {
            pagination :    true ,
                      paginationKeyboard: true,
                        type   : 'loop',
                        drag   : 'free',
                        perPage: 4,
                        perMove: 3,
                        rewindSpeed: 100,
                        rewindByDrag:true,
                        breakpoints: {
                            1020: {
                                perPage: 3,
                                perMove: 2,
                            },
                            640: {
                                perPage: 2,
                                perMove: 1,
                            }
                          }
                      } );
                      
                      splide.mount(); 
    });

</script>


{% schema %}
  {
    "name": "Loading  Related product",
    "class": "lading-page-product",
    "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title Name",
      "default": "Wall Sconces",
      "placeholder": "Wall Sconces"
    },
    {
        "type": "text",
        "id": "btn-text",
        "label": "Button title",
        "default": "Shop All Products",
        "placeholder": "Shop All Products"
    },
    {
        "type": "url",
        "id": "url",
        "label": "Select your link"
    }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
        {
            "type": "collection",
            "id": "collection",
            "label": "Select your Collection"
        }
        ]
      },
      {
        "type": "Singel Product",
        "name": "Product",
        "settings": [
      
       {
        "type": "product",
        "id": "product",
        "label": "Select your Product"
       }
        ]
      }
    ],
    "presets": [
      {
        "name": "landing related proudct"
      }
    ]
  }
{% endschema %}
