{% if settings.product_ratings_reviews %}
  <section class="product-section--container" data-product-reviews>
    <div class="product-section--content product-reviews--content">
     
<!--<div id="stamped-main-widget" class="stamped-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: " ? ", " % 3F" | replace: "& "," % 26"}}" data-description="{{ product.description | escape }}" data-product-sku="{{product.handle}}" data-product-type="{{product.type}}"> {{ product.metafields.stamped.reviews }} </div>-->
 
      <!--<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
    </div>-->
  </section>
{% endif %}

{% schema %}
{
  "name": "Product reviews",
  "class": "product-reviews--section",
  "settings": [
    {
      "type": "paragraph",
      "content": "This section becomes visible by turning on \"Enable product reviews and ratings\" in the Theme settings."
    }
  ]
}

{% endschema %}